body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 40px;
    font-weight: bolder;
}

.personagens{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
    text-decoration: none;
}

.personagens img {
    padding-top: 10px;
}

.personagens li {
    width: auto;
    height: auto;
    padding: 15px;
    border: solid 2px black;
    border-radius: 30px;
    margin: 0 100px 0 100px;
}

.personagens h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.personagens h3{
    color:black;
}

.personagens a {
    text-decoration: none;
}

.caracteristicas{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.caracteristicas h3{
    padding: 10px;
}

.seguir {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.seguir:hover {
    border-color: #C78C19;
}

.seguir:active {
    border-color: #088c19;
}

.seguir:hover {
    font-size: 35px;
}

.botao {
    margin: 5px;
    text-decoration: none;
    color:#000000;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 #EEEEEE;
    font-size: 25px;
    font-weight: bold;
}

.botao:active{
    box-shadow: 0 0 0 0 #CCCCCC, inset 2px 2px 2px #EEEEEE;
    transform: translate3d(3px 3px);
}

#part1 {
    display: block;
}

#part2_boa {
    display: none;
}

#part2_outra {
    display: none;
}

#part3_boa {
    display: none;
}

#part3_outra {
    display: none;
}

#part4_boa {
    display: none;
}

#part4_outra {
    display: none;
}

#part5_boa {
    display: none;
}

#part5_outra {
    display: none;
}

#part6_boa {
    display: none;
}

#part6_outra {
    display: none;
}

#part7 {
    display: none;
}
footer{
    text-align: center;
    padding: 40px 0;
    margin-bottom: 0;
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin: 20px 0 0;
}

